body {
  display: grid;
  font-family: Sans-serif;
  grid-template-columns: repeat(12, 1fr);
  margin: 0px;
}

h1 {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.card-container {
  padding: 25% 0px;
}

.single-card {
  grid-column: span 6;
  text-align: center;
  height: 100vh;
}

.single-card:nth-child(1) {
  background: black;
}

.single-card:nth-child(2) {
  background: white;
}

svg {
  height: 100px;
  margin: 20px 0px;
}

.single-card:nth-child(1),
.react-icon {
  fill: white;
  color: white;
}

.single-card:nth-child(2),
.server-icon {
  fill: black;
  color: black;
}

@media screen and (max-width: 900px) {
  .single-card {
    height: 100%;
    grid-column: span 12;
  }

  .card-container {
    padding: 75px 0px;
  }
}
