body {
    margin: 0px;
    font-family: Sans-serif;
}

h1 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    margin: 25px auto;
}

.site-col-6 {
    text-align: center;
    height: 100vh;
}

.site-col-6:nth-child(1) {
    background: black;
    color: white;
}

.site-col-6:nth-child(2) {
    background: white;
    color: black;
}

.card-container {
    padding: 25% 0px;
}


@media screen and (max-width: 800px) {

    .site-col-6 {
        height: 100%;
        grid-column: span 12;
    }
    
    .card-container {
        padding: 75px 0px;
    }

}
