@media screen and (max-width: 1080px) {

    /** INTRODUCTION **/
    .intro-image-container,
    .intro-caption-container {
        grid-column: span 12 !important;
        margin: 25px auto 0px;
    }

    /*** SKILLS ***/
    .skills-description {
        grid-column: span 12 !important;
        margin-bottom: 15px;
    }

    /** PORTFOLIO **/
    .portfolio-component {
        grid-column: span 12 !important;
    }

    /** SKILLS **/
    .more-about,
    .interest-experience {
        grid-column: span 12 !important;

    }

    .more-about p,
    .interest-experience p {
        width: 60%;
        margin: 25px auto;
    }
}

@media screen and (max-width: 640px) {

    /** NAVBAR **/
    .nav-menus {
        display: none;
    }

    /** INTRODUCTION **/
    .intro-image-container,
    .intro-caption-container {
        grid-column: span 12 !important;
    }

    .intro-caption-container {
        padding: 0px 25px;
    }

    /*** SKILLS ***/
    #skillsBtnContainer {
        display: none;
    }

    .skills-list-container {
        width: 90%;
    }

    .filterDiv {
        display: block;
        width: 25%;
    }

    /** PORTFOLIO **/
    
    /** SKILLS **/

    .more-about p,
    .interest-experience p {
        width: 80%;
        margin: 25px auto;
    }



}
